@{
    ViewData["Title"] = "Home Page - Lab11";
}

<h1 style="font-size:xx-large">Calc Service Demonstration</h1>
<div>
    <ul>
        <li><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="UsingModelCalc">Using Model Calc</a></li>
        <li><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="UsingViewDataCalc">Using ViewData Calc</a></li>
        <li><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="UsingViewBagCalc">Using ViewBag Calc</a></li>
        <li><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="UsingServiceInjectionCalc">Using Service Injection Calc</a></li>
    </ul>
</div>
